ConfirmacionProgramados/GasMetropolitano.Runtime/GasMetropolitano.Runtime/Service References/DynamicsCRMPedidos/Service3.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/WSPedidosDummy.Model" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/WSPedidosDummy.Model" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://192.168.1.42:83/Service.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/WSPedidosDummy.Model.pedido" />
  <xs:import schemaLocation="http://192.168.1.42:83/Service.svc?xsd=xsd4" namespace="http://schemas.datacontract.org/2004/07/WSPedidosDummy.Model.detalle_peiddo" />
  <xs:complexType name="ArrayOfresultado">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="resultado" nillable="true" type="tns:resultado" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfresultado" nillable="true" type="tns:ArrayOfresultado" />
  <xs:complexType name="resultado">
    <xs:sequence>
      <xs:element minOccurs="0" name="Excepcion" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Observaciones" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="OperacionExitosa" type="xs:boolean" />
      <xs:element minOccurs="0" name="itssa_pedido" nillable="true" type="tns:itssa_pedido" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="resultado" nillable="true" type="tns:resultado" />
  <xs:complexType name="itssa_pedido">
    <xs:sequence>
      <xs:element minOccurs="0" name="itssa_anoatt" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="itssa_aopedido" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="itssa_autotanque" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="itssa_autotanquemovil" nillable="true" type="xs:int" />
      <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/WSPedidosDummy.Model.pedido" minOccurs="0" name="itssa_cartera" nillable="true" type="q1:itssa_cartera" />
      <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/WSPedidosDummy.Model.pedido" minOccurs="0" name="itssa_empresa" nillable="true" type="q2:itssa_empresa" />
      <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/WSPedidosDummy.Model.pedido" minOccurs="0" name="itssa_estatusdepedidos" nillable="true" type="q3:itssa_estatusdepedidos" />
      <xs:element minOccurs="0" name="itssa_factualizacion" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="itssa_factualizacionestatusmovil" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="itssa_falta" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="itssa_fcancelacion" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="itssa_fcompromiso" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="itssa_flecturafinal" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="itssa_flecturainicial" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="itssa_folio" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="itssa_foliofactura" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="itssa_foliopresupuesto" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="itssa_folioremision" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="itssa_fsuministro" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="itssa_iddepedido" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="itssa_iddireccindeentrega" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="itssa_idsgc" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="itssa_itsnocorridametropoli" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="itssa_latitud" nillable="true" type="xs:decimal" />
      <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/WSPedidosDummy.Model.pedido" minOccurs="0" name="itssa_lecturista" nillable="true" type="q4:itssa_colaboradorgm" />
      <xs:element minOccurs="0" name="itssa_longitud" nillable="true" type="xs:decimal" />
      <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/WSPedidosDummy.Model.pedido" minOccurs="0" name="itssa_motivocancelacion" nillable="true" type="q5:itssa_motivocancelacion" />
      <xs:element minOccurs="0" name="itssa_name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="itssa_numeroimpresion" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="itssa_obsermotivocancel" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="itssa_observaciones" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="itssa_observacionesserviciostecnicos" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="itssa_pedidoid" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="itssa_pedidopresupuesto" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="itssa_pedidoreferencia" nillable="true" type="xs:string" />
      <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/WSPedidosDummy.Model.pedido" minOccurs="0" name="itssa_prioridadpedido" nillable="true" type="q6:itssa_prioridadpedido" />
      <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/WSPedidosDummy.Model.pedido" minOccurs="0" name="itssa_razonnotomalectura" nillable="true" type="q7:itssa_razonnotomalectura" />
      <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/WSPedidosDummy.Model.pedido" minOccurs="0" name="itssa_rutaboletin" nillable="true" type="q8:itssa_ruta" />
      <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/WSPedidosDummy.Model.pedido" minOccurs="0" name="itssa_rutaorigen" nillable="true" type="q9:itssa_ruta" />
      <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/WSPedidosDummy.Model.pedido" minOccurs="0" name="itssa_rutasuministro" nillable="true" type="q10:itssa_ruta" />
      <xs:element minOccurs="0" name="itssa_saldo" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="itssa_seriefactura" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="itssa_serieremision" nillable="true" type="xs:string" />
      <xs:element xmlns:q11="http://schemas.datacontract.org/2004/07/WSPedidosDummy.Model.pedido" minOccurs="0" name="itssa_statusmovil" nillable="true" type="q11:itssa_statusmovil" />
      <xs:element minOccurs="0" name="itssa_sumadeimporteslineas" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="itssa_sumadeimpuestodelineas" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="itssa_sumadetotalesdelineas" nillable="true" type="xs:decimal" />
      <xs:element xmlns:q12="http://schemas.datacontract.org/2004/07/WSPedidosDummy.Model.pedido" minOccurs="0" name="itssa_tipocargo" nillable="true" type="q12:itssa_tipocargo" />
      <xs:element xmlns:q13="http://schemas.datacontract.org/2004/07/WSPedidosDummy.Model.pedido" minOccurs="0" name="itssa_tipocobro" nillable="true" type="q13:itssa_tipocobro" />
      <xs:element xmlns:q14="http://schemas.datacontract.org/2004/07/WSPedidosDummy.Model.pedido" minOccurs="0" name="itssa_tipodepedido" nillable="true" type="q14:itssa_tipopedido" />
      <xs:element xmlns:q15="http://schemas.datacontract.org/2004/07/WSPedidosDummy.Model.pedido" minOccurs="0" name="itssa_tipodeservicio" nillable="true" type="q15:itssa_tipodeservicio" />
      <xs:element minOccurs="0" name="itssa_urlPedido" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="itssa_vigencia" nillable="true" type="xs:dateTime" />
      <xs:element xmlns:q16="http://schemas.datacontract.org/2004/07/WSPedidosDummy.Model.pedido" minOccurs="0" name="itssa_zona" nillable="true" type="q16:itssa_zona" />
      <xs:element xmlns:q17="http://schemas.datacontract.org/2004/07/WSPedidosDummy.Model.pedido" minOccurs="0" name="itssa_zonaeconomica" nillable="true" type="q17:itssa_zonaeconomica" />
      <xs:element minOccurs="0" name="listaPedidos" nillable="true" type="tns:ArrayOfitssa_pedido" />
      <xs:element minOccurs="0" name="listadetalles" nillable="true" type="tns:ArrayOfitssa_detalledelpedido" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="itssa_pedido" nillable="true" type="tns:itssa_pedido" />
  <xs:complexType name="ArrayOfitssa_pedido">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="itssa_pedido" nillable="true" type="tns:itssa_pedido" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfitssa_pedido" nillable="true" type="tns:ArrayOfitssa_pedido" />
  <xs:complexType name="ArrayOfitssa_detalledelpedido">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="itssa_detalledelpedido" nillable="true" type="tns:itssa_detalledelpedido" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfitssa_detalledelpedido" nillable="true" type="tns:ArrayOfitssa_detalledelpedido" />
  <xs:complexType name="itssa_detalledelpedido">
    <xs:sequence>
      <xs:element minOccurs="0" name="itssa_cantidad" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="itssa_cantidad_liquidacion" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="itssa_cantidadlectura" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="itssa_cantidadlecturaanterior" nillable="true" type="xs:decimal" />
      <xs:element xmlns:q18="http://schemas.datacontract.org/2004/07/WSPedidosDummy.Model.detalle_peiddo" minOccurs="0" name="itssa_descuento" nillable="true" type="q18:itssa_descuentopordirecciondeentrega" />
      <xs:element minOccurs="0" name="itssa_descuentoaplicado" nillable="true" type="xs:boolean" />
      <xs:element minOccurs="0" name="itssa_descuentoaplicado_liquidacion" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="itssa_detalledelpedidoid" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="itssa_diferenciadelecturas" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="itssa_fechadesuministro" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="itssa_importe" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="itssa_importe_liquidacion" nillable="true" type="xs:decimal" />
      <xs:element xmlns:q19="http://schemas.datacontract.org/2004/07/WSPedidosDummy.Model.detalle_peiddo" minOccurs="0" name="itssa_impuesto" nillable="true" type="q19:itssa_impuesto" />
      <xs:element minOccurs="0" name="itssa_impuesto_liquidado" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="itssa_itsdescuentopordireccionentrega" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="itssa_itsdetalleprecioporempresa" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="itssa_itsdetallevalorimpuesto" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="itssa_name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="itssa_nodepartida" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="itssa_porcentajetanque" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="itssa_precio_liquidacion" nillable="true" type="xs:decimal" />
      <xs:element xmlns:q20="http://schemas.datacontract.org/2004/07/WSPedidosDummy.Model.detalle_peiddo" minOccurs="0" name="itssa_precioporempresa" nillable="true" type="q20:itssa_precioporempresa" />
      <xs:element xmlns:q21="http://schemas.datacontract.org/2004/07/WSPedidosDummy.Model.detalle_peiddo" minOccurs="0" name="itssa_producto" nillable="true" type="q21:itssa_producto" />
      <xs:element minOccurs="0" name="itssa_redondeo" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="itssa_redondeoanterior" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="itssa_tag" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="itssa_total" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="itssa_uri_imagen1" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="itssa_detalledelpedido" nillable="true" type="tns:itssa_detalledelpedido" />
</xs:schema>