ConfirmacionProgramados/GasMetropolitano.Runtime/GasMetropolitano.Runtime/Service References/DynamicsCRMPedidos/Service2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/WSPedidosDummy.Model.pedido" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/WSPedidosDummy.Model.pedido" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="itssa_cartera">
    <xs:sequence>
      <xs:element minOccurs="0" name="itssa_carteraid" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="itssa_idcartera" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="itssa_name" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="itssa_cartera" nillable="true" type="tns:itssa_cartera" />
  <xs:complexType name="itssa_empresa">
    <xs:sequence>
      <xs:element minOccurs="0" name="itssa_empresaid" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="itssa_idempresa" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="itssa_itsriparametrizable" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="itssa_name" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="itssa_empresa" nillable="true" type="tns:itssa_empresa" />
  <xs:complexType name="itssa_estatusdepedidos">
    <xs:sequence>
      <xs:element minOccurs="0" name="itssa_estatusdelpedidoid" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="itssa_idestatusdelpedido" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="itssa_name" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="itssa_estatusdepedidos" nillable="true" type="tns:itssa_estatusdepedidos" />
  <xs:complexType name="itssa_colaboradorgm">
    <xs:sequence>
      <xs:element minOccurs="0" name="itssa_apellidomaterno" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="itssa_apellidopaterno" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="itssa_codigoempleado" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="itssa_colaboradorgmid" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="itssa_idempleado" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="itssa_name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="itssa_nombres" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="itssa_zonalecturista" nillable="true" type="tns:itssa_zonalecturista" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="itssa_colaboradorgm" nillable="true" type="tns:itssa_colaboradorgm" />
  <xs:complexType name="itssa_zonalecturista">
    <xs:sequence>
      <xs:element minOccurs="0" name="itssa_descripcion" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="itssa_idzonalecturista" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="itssa_name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="itssa_serie" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="itssa_zonalecturistaid" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="itssa_zonalecturista" nillable="true" type="tns:itssa_zonalecturista" />
  <xs:complexType name="itssa_motivocancelacion">
    <xs:sequence>
      <xs:element minOccurs="0" name="itssa_idmotivocancelacion" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="itssa_motivocancelacionid" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="itssa_name" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="itssa_motivocancelacion" nillable="true" type="tns:itssa_motivocancelacion" />
  <xs:complexType name="itssa_prioridadpedido">
    <xs:sequence>
      <xs:element minOccurs="0" name="itssa_idprioridadpedido" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="itssa_name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="itssa_prioridadpedidoid" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="itssa_prioridadpedido" nillable="true" type="tns:itssa_prioridadpedido" />
  <xs:complexType name="itssa_razonnotomalectura">
    <xs:sequence>
      <xs:element minOccurs="0" name="itssa_idrazonnotomalectura" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="itssa_name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="itssa_razonnotomalecturaid" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="itssa_razonnotomalectura" nillable="true" type="tns:itssa_razonnotomalectura" />
  <xs:complexType name="itssa_ruta">
    <xs:sequence>
      <xs:element minOccurs="0" name="itssa_claseruta" nillable="true" type="tns:itssa_claseruta" />
      <xs:element minOccurs="0" name="itssa_ejecutivo" nillable="true" type="tns:itssa_colaboradorgm" />
      <xs:element minOccurs="0" name="itssa_idruta" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="itssa_name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="itssa_rutaid" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="itssa_seriefactura" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="itssa_zona" nillable="true" type="tns:itssa_zona" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="itssa_ruta" nillable="true" type="tns:itssa_ruta" />
  <xs:complexType name="itssa_claseruta">
    <xs:sequence>
      <xs:element minOccurs="0" name="itssa_claserutaid" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="itssa_idclaseruta" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="itssa_name" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="itssa_claseruta" nillable="true" type="tns:itssa_claseruta" />
  <xs:complexType name="itssa_zona">
    <xs:sequence>
      <xs:element minOccurs="0" name="itssa_idestacionsgc" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="itssa_idzona" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="itssa_name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="itssa_zonaid" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="itssa_zona" nillable="true" type="tns:itssa_zona" />
  <xs:complexType name="itssa_statusmovil">
    <xs:sequence>
      <xs:element minOccurs="0" name="itssa_idstatusmovil" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="itssa_name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="itssa_statusmovilid" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="itssa_statusmovil" nillable="true" type="tns:itssa_statusmovil" />
  <xs:complexType name="itssa_tipocargo">
    <xs:sequence>
      <xs:element minOccurs="0" name="itssa_idtipocargo" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="itssa_name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="itssa_tipocargoid" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="itssa_tipocargo" nillable="true" type="tns:itssa_tipocargo" />
  <xs:complexType name="itssa_tipocobro">
    <xs:sequence>
      <xs:element minOccurs="0" name="itssa_idtipocobro" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="itssa_name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="itssa_tipocobroid" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="itssa_tipocobro" nillable="true" type="tns:itssa_tipocobro" />
  <xs:complexType name="itssa_tipopedido">
    <xs:sequence>
      <xs:element minOccurs="0" name="itssa_idtipopedido" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="itssa_name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="itssa_tipopedidoid" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="itssa_tipopedido" nillable="true" type="tns:itssa_tipopedido" />
  <xs:complexType name="itssa_tipodeservicio">
    <xs:sequence>
      <xs:element minOccurs="0" name="itssa_idtipodeservicio" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="itssa_name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="itssa_tipodeservicioid" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="itssa_tipodeservicio" nillable="true" type="tns:itssa_tipodeservicio" />
  <xs:complexType name="itssa_zonaeconomica">
    <xs:sequence>
      <xs:element minOccurs="0" name="itssa_idzonaeconomica" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="itssa_name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="itssa_zonaeconomicaid" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="itssa_zonaeconomica" nillable="true" type="tns:itssa_zonaeconomica" />
</xs:schema>