ConfirmacionProgramados/GasMetropolitano.Runtime/GasMetropolitano.Runtime/Service References/DynamicsCRM/GM_WSDireccionesEntregaContract.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="GM_WSDireccionesEntregaContract" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://192.168.1.42:82/ServiceDirEnt.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://192.168.1.42:82/ServiceDirEnt.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://192.168.1.42:82/ServiceDirEnt.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/GM_WSDireccionesEntrega.Model" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IGM_WSDireccionesEntregaContract_getDireccionesEntrega_InputMessage">
    <wsdl:part name="parameters" element="tns:getDireccionesEntrega" />
  </wsdl:message>
  <wsdl:message name="IGM_WSDireccionesEntregaContract_getDireccionesEntrega_OutputMessage">
    <wsdl:part name="parameters" element="tns:getDireccionesEntregaResponse" />
  </wsdl:message>
  <wsdl:message name="IGM_WSDireccionesEntregaContract_getPreciosPorEmpresa_InputMessage">
    <wsdl:part name="parameters" element="tns:getPreciosPorEmpresa" />
  </wsdl:message>
  <wsdl:message name="IGM_WSDireccionesEntregaContract_getPreciosPorEmpresa_OutputMessage">
    <wsdl:part name="parameters" element="tns:getPreciosPorEmpresaResponse" />
  </wsdl:message>
  <wsdl:portType name="IGM_WSDireccionesEntregaContract">
    <wsdl:operation name="getDireccionesEntrega">
      <wsdl:input wsaw:Action="http://tempuri.org/IGM_WSDireccionesEntregaContract/getDireccionesEntrega" message="tns:IGM_WSDireccionesEntregaContract_getDireccionesEntrega_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IGM_WSDireccionesEntregaContract/getDireccionesEntregaResponse" message="tns:IGM_WSDireccionesEntregaContract_getDireccionesEntrega_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="getPreciosPorEmpresa">
      <wsdl:input wsaw:Action="http://tempuri.org/IGM_WSDireccionesEntregaContract/getPreciosPorEmpresa" message="tns:IGM_WSDireccionesEntregaContract_getPreciosPorEmpresa_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IGM_WSDireccionesEntregaContract/getPreciosPorEmpresaResponse" message="tns:IGM_WSDireccionesEntregaContract_getPreciosPorEmpresa_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IGM_WSDireccionesEntregaContract" type="tns:IGM_WSDireccionesEntregaContract">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="getDireccionesEntrega">
      <soap:operation soapAction="http://tempuri.org/IGM_WSDireccionesEntregaContract/getDireccionesEntrega" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getPreciosPorEmpresa">
      <soap:operation soapAction="http://tempuri.org/IGM_WSDireccionesEntregaContract/getPreciosPorEmpresa" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="GM_WSDireccionesEntregaContract">
    <wsdl:port name="BasicHttpBinding_IGM_WSDireccionesEntregaContract" binding="tns:BasicHttpBinding_IGM_WSDireccionesEntregaContract">
      <soap:address location="http://192.168.1.42:82/ServiceDirEnt.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>