ConfirmacionProgramados/GasMetropolitano.Runtime/GasMetropolitano.Runtime/Service References/DynamicsCRM/ServiceDirEnt.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/GM_WSDireccionesEntrega.Model" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/GM_WSDireccionesEntrega.Model" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfResultado">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Resultado" nillable="true" type="tns:Resultado" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfResultado" nillable="true" type="tns:ArrayOfResultado" />
  <xs:complexType name="Resultado">
    <xs:sequence>
      <xs:element minOccurs="0" name="DireccionEntrega" nillable="true" type="tns:itssa_direcciondeentrega" />
      <xs:element minOccurs="0" name="Excepcion" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Observaciones" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="OperacionExitosa" nillable="true" type="xs:boolean" />
      <xs:element minOccurs="0" name="PrecioPorEmpresa" nillable="true" type="tns:itssa_precioporempresa" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Resultado" nillable="true" type="tns:Resultado" />
  <xs:complexType name="itssa_direcciondeentrega">
    <xs:sequence>
      <xs:element minOccurs="0" name="itssa_calle" nillable="true" type="tns:itssa_calle" />
      <xs:element minOccurs="0" name="itssa_cantidadsumarizadaactual" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="itssa_cantidadsumarizadaactualmayor30" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="itssa_cantidadsumarizadaanterior" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="itssa_cartera" nillable="true" type="tns:itssa_cartera" />
      <xs:element minOccurs="0" name="itssa_cliente" nillable="true" type="tns:account" />
      <xs:element minOccurs="0" name="itssa_cobrador" nillable="true" type="tns:itssa_colaboradorgm" />
      <xs:element minOccurs="0" name="itssa_colaboradormetropoli" nillable="true" type="tns:itssa_colaboradorgm" />
      <xs:element minOccurs="0" name="itssa_colonia" nillable="true" type="tns:itssa_colonia" />
      <xs:element minOccurs="0" name="itssa_complementodir" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="itssa_contactprincipalnombrecompleto" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="itssa_contrato" nillable="true" type="tns:itssa_contrato" />
      <xs:element minOccurs="0" name="itssa_costodeadministracion" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="itssa_cp" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="itssa_diascredito" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="itssa_diasdecobro" nillable="true" type="tns:itssa_diasdecobro" />
      <xs:element minOccurs="0" name="itssa_diaspago" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="itssa_diasrevision" nillable="true" type="tns:itssa_diasrevision" />
      <xs:element minOccurs="0" name="itssa_dificultadcobro" nillable="true" type="tns:itssa_dificultadcobro" />
      <xs:element minOccurs="0" name="itssa_dificultaddegestion" nillable="true" type="tns:itssa_dificultaddegestion" />
      <xs:element minOccurs="0" name="itssa_digitoverificador" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="itssa_direccioncompleta" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="itssa_direcciondeentregaid" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="itssa_empresa" nillable="true" type="tns:itssa_empresa" />
      <xs:element minOccurs="0" name="itssa_entrecalledos" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="itssa_entrecalleuno" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="itssa_enviaredocta" nillable="true" type="xs:boolean" />
      <xs:element minOccurs="0" name="itssa_estadodelarepublica" nillable="true" type="tns:itssa_estadodelarepublica" />
      <xs:element minOccurs="0" name="itssa_estatuscalidad" nillable="true" type="tns:itssa_estatuscalidad" />
      <xs:element minOccurs="0" name="itssa_factordeconversion" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="itssa_hfinatencioncyc" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="itssa_hinicioatencioncyc" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="itssa_iddirecciondeentrega" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="itssa_latitud" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="itssa_lecturapedidoactual" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="itssa_lecturapedidoanterior" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="itssa_limitecredito" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="itssa_log" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="itssa_longitud" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="itssa_lte" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="itssa_municipio" nillable="true" type="tns:itssa_municipio" />
      <xs:element minOccurs="0" name="itssa_mz" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="itssa_name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="itssa_nodedepartamentos" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="itssa_notanques" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="itssa_numexterior" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="itssa_numinterior" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="itssa_observaciones" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="itssa_observacionescyc" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="itssa_programacion" nillable="true" type="xs:boolean" />
      <xs:element minOccurs="0" name="itssa_ramo" nillable="true" type="tns:itssa_ramocliente" />
      <xs:element minOccurs="0" name="itssa_referencia" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="itssa_ruta" nillable="true" type="tns:itssa_ruta" />
      <xs:element minOccurs="0" name="itssa_saldo" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="itssa_sucursal" nillable="true" type="tns:itssa_sucursal" />
      <xs:element minOccurs="0" name="itssa_tanquesinterconectados" nillable="true" type="xs:boolean" />
      <xs:element minOccurs="0" name="itssa_telefono1" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="itssa_telefono2" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="itssa_telefono3" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="itssa_telefonocel" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="itssa_tipocobro" nillable="true" type="tns:itssa_tipocobro" />
      <xs:element minOccurs="0" name="itssa_tipodeservicio" nillable="true" type="tns:itssa_tipodeservicio" />
      <xs:element minOccurs="0" name="itssa_tipofactura" nillable="true" type="tns:itssa_tipofactura" />
      <xs:element minOccurs="0" name="itssa_ultimopedidolectura" type="xs:int" />
      <xs:element minOccurs="0" name="itssa_valgeo" nillable="true" type="xs:boolean" />
      <xs:element minOccurs="0" name="itssa_zona" nillable="true" type="tns:itssa_zona" />
      <xs:element minOccurs="0" name="itssa_zonaeconomica" nillable="true" type="tns:itssa_zonaeconomica" />
      <xs:element minOccurs="0" name="listaDescuentosPorDireccionEntrega" nillable="true" type="tns:ArrayOfitssa_descuentopordirecciondeentrega" />
      <xs:element minOccurs="0" name="listaInventarioPorDireccionEntrega" nillable="true" type="tns:ArrayOfitssa_inventariopordirecciondeentrega" />
      <xs:element minOccurs="0" name="listaProgramacionPedidos" nillable="true" type="tns:ArrayOfitssa_programaciondepedidos" />
      <xs:element minOccurs="0" name="statecode" nillable="true" type="xs:boolean" />
      <xs:element minOccurs="0" name="statuscode" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="itssa_direcciondeentrega" nillable="true" type="tns:itssa_direcciondeentrega" />
  <xs:complexType name="itssa_calle">
    <xs:sequence>
      <xs:element minOccurs="0" name="itssa_calleid" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="itssa_idcalle" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="itssa_name" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="itssa_calle" nillable="true" type="tns:itssa_calle" />
  <xs:complexType name="itssa_cartera">
    <xs:sequence>
      <xs:element minOccurs="0" name="itssa_carteraid" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="itssa_idcartera" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="itssa_name" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="itssa_cartera" nillable="true" type="tns:itssa_cartera" />
  <xs:complexType name="account">
    <xs:sequence>
      <xs:element minOccurs="0" name="accountid" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="address1_city" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="address1_country" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="address1_county" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="address1_line1" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="address1_line2" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="address1_line3" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="address1_postalcode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="address1_stateorprovince" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="emailaddress1" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="fax" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="itssa_abreviaturabc" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="itssa_apellidomaterno" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="itssa_apellidopaterno" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="itssa_copiascfd" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="itssa_curp" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="itssa_email2" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="itssa_email3" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="itssa_enviocfdcorreo" nillable="true" type="xs:boolean" />
      <xs:element minOccurs="0" name="itssa_formapagosat" nillable="true" type="tns:itssa_formapagosat" />
      <xs:element minOccurs="0" name="itssa_idcliente" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="itssa_nombre" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="itssa_nombrecomercial" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="itssa_numerocuentapago" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="itssa_razonsocial" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="itssa_rfc" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="itssa_segundonombre" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="itssa_tipopersona" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="itssa_usocfdi" nillable="true" type="tns:itssa_usocfdi" />
      <xs:element minOccurs="0" name="ittsa_clientepagorecurrente" nillable="true" type="xs:boolean" />
      <xs:element minOccurs="0" name="name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="telephone1" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="websiteurl" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="account" nillable="true" type="tns:account" />
  <xs:complexType name="itssa_formapagosat">
    <xs:sequence>
      <xs:element minOccurs="0" name="itssa_aplicanumerocuenta" nillable="true" type="xs:boolean" />
      <xs:element minOccurs="0" name="itssa_formapagosatid" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="itssa_formapagosatvalor" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="itssa_idformapagosat" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="itssa_name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="itssa_tiponumerocuenta" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="itssa_formapagosat" nillable="true" type="tns:itssa_formapagosat" />
  <xs:complexType name="itssa_usocfdi">
    <xs:sequence>
      <xs:element minOccurs="0" name="itssa_idusocfdi" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="itssa_usocfdiClave" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="itssa_usocfdidescripcion" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="itssa_usocfdiid" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="itssa_usocfdi" nillable="true" type="tns:itssa_usocfdi" />
  <xs:complexType name="itssa_colaboradorgm">
    <xs:sequence>
      <xs:element minOccurs="0" name="itssa_apellidomaterno" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="itssa_apellidopaterno" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="itssa_codigoempleado" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="itssa_colaboradorgmid" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="itssa_idempleado" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="itssa_name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="itssa_nombres" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="itssa_zonalecturista" nillable="true" type="tns:itssa_zonalecturista" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="itssa_colaboradorgm" nillable="true" type="tns:itssa_colaboradorgm" />
  <xs:complexType name="itssa_zonalecturista">
    <xs:sequence>
      <xs:element minOccurs="0" name="itssa_descripcion" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="itssa_idzonalecturista" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="itssa_name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="itssa_serie" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="itssa_zonalecturistaid" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="itssa_zonalecturista" nillable="true" type="tns:itssa_zonalecturista" />
  <xs:complexType name="itssa_colonia">
    <xs:sequence>
      <xs:element minOccurs="0" name="itssa_coloniaid" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="itssa_idcolonia" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="itssa_name" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="itssa_colonia" nillable="true" type="tns:itssa_colonia" />
  <xs:complexType name="itssa_contrato">
    <xs:sequence>
      <xs:element minOccurs="0" name="itssa_calleporcolonia" nillable="true" type="tns:itssa_calle" />
      <xs:element minOccurs="0" name="itssa_cartera" nillable="true" type="tns:itssa_cartera" />
      <xs:element minOccurs="0" name="itssa_clasificacioncliente" nillable="true" type="tns:itssa_clasificacioncliente" />
      <xs:element minOccurs="0" name="itssa_cobrador" nillable="true" type="tns:itssa_colaboradorgm" />
      <xs:element minOccurs="0" name="itssa_colonia" nillable="true" type="tns:itssa_colonia" />
      <xs:element minOccurs="0" name="itssa_complementodireccion" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="itssa_contactprincipalnombrecompleto" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="itssa_contratoid" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="itssa_costodeadministracion" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="itssa_cp" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="itssa_diascredito" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="itssa_diasdecobro" nillable="true" type="tns:itssa_diasdecobro" />
      <xs:element minOccurs="0" name="itssa_diaslimitepago" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="itssa_diaspago" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="itssa_diasrevision" nillable="true" type="tns:itssa_diasrevision" />
      <xs:element minOccurs="0" name="itssa_dificultaddecobro" nillable="true" type="tns:itssa_dificultadcobro" />
      <xs:element minOccurs="0" name="itssa_dificultaddegestion" nillable="true" type="tns:itssa_dificultaddegestion" />
      <xs:element minOccurs="0" name="itssa_ejecutivocomercial" nillable="true" type="tns:itssa_colaboradorgm" />
      <xs:element minOccurs="0" name="itssa_ejecutivocredito" nillable="true" type="tns:itssa_colaboradorgm" />
      <xs:element minOccurs="0" name="itssa_empresa" nillable="true" type="tns:itssa_empresa" />
      <xs:element minOccurs="0" name="itssa_entrecalledos" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="itssa_entrecalleuno" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="itssa_estadodelarepublica" nillable="true" type="tns:itssa_estadodelarepublica" />
      <xs:element minOccurs="0" name="itssa_factordeconversion" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="itssa_formapagosat" nillable="true" type="tns:itssa_formapagosat" />
      <xs:element minOccurs="0" name="itssa_hfinatencioncyc" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="itssa_hinicioatencioncyc" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="itssa_iddelcontrato" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="itssa_itscontratoagrupador" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="itssa_itscontratometropoli" nillable="true" type="xs:boolean" />
      <xs:element minOccurs="0" name="itssa_limitecredito" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="itssa_lte" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="itssa_motivonosuministrarcreditoycobranza" nillable="true" type="tns:itssa_motivonosuministrarcreditoycobranza" />
      <xs:element minOccurs="0" name="itssa_motivonosuministrarserviciostecnicos" nillable="true" type="tns:itssa_motivonosuministrarserviciostecnicos" />
      <xs:element minOccurs="0" name="itssa_municipioodelegacion" nillable="true" type="tns:itssa_municipio" />
      <xs:element minOccurs="0" name="itssa_mz" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="itssa_name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="itssa_nodedepartamentos" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="itssa_notanques" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="itssa_numexterior" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="itssa_numinterior" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="itssa_observacionescyc" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="itssa_pais" nillable="true" type="tns:itssa_pais" />
      <xs:element minOccurs="0" name="itssa_ramo" nillable="true" type="tns:itssa_ramocliente" />
      <xs:element minOccurs="0" name="itssa_ruta" nillable="true" type="tns:itssa_ruta" />
      <xs:element minOccurs="0" name="itssa_saldo" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="itssa_sucursal" nillable="true" type="tns:itssa_sucursal" />
      <xs:element minOccurs="0" name="itssa_tanquesinterconectados" nillable="true" type="xs:boolean" />
      <xs:element minOccurs="0" name="itssa_tipocobro" nillable="true" type="tns:itssa_tipocobro" />
      <xs:element minOccurs="0" name="itssa_tipofactura" nillable="true" type="tns:itssa_tipofactura" />
      <xs:element minOccurs="0" name="itssa_tiposervicio" nillable="true" type="tns:itssa_tipodeservicio" />
      <xs:element minOccurs="0" name="itssa_vip" nillable="true" type="xs:boolean" />
      <xs:element minOccurs="0" name="itssa_zona" nillable="true" type="tns:itssa_zona" />
      <xs:element minOccurs="0" name="itssa_zonaeconomica" nillable="true" type="tns:itssa_zonaeconomica" />
      <xs:element minOccurs="0" name="itssa_zonalecturista" nillable="true" type="tns:itssa_zonalecturista" />
      <xs:element minOccurs="0" name="ittsa_cliente" nillable="true" type="tns:account" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="itssa_contrato" nillable="true" type="tns:itssa_contrato" />
  <xs:complexType name="itssa_clasificacioncliente">
    <xs:sequence>
      <xs:element minOccurs="0" name="itssa_clasificacionclienteid" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="itssa_idclasificacion" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="itssa_name" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="itssa_clasificacioncliente" nillable="true" type="tns:itssa_clasificacioncliente" />
  <xs:complexType name="itssa_diasdecobro">
    <xs:sequence>
      <xs:element minOccurs="0" name="itssa_diasdecobroid" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="itssa_iddiasdecobro" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="itssa_name" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="itssa_diasdecobro" nillable="true" type="tns:itssa_diasdecobro" />
  <xs:complexType name="itssa_diasrevision">
    <xs:sequence>
      <xs:element minOccurs="0" name="itssa_diasrevisionid" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="itssa_iddiasrevision" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="itssa_name" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="itssa_diasrevision" nillable="true" type="tns:itssa_diasrevision" />
  <xs:complexType name="itssa_dificultadcobro">
    <xs:sequence>
      <xs:element minOccurs="0" name="itssa_dificultadcobroid" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="itssa_iddificultadcobro" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="itssa_name" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="itssa_dificultadcobro" nillable="true" type="tns:itssa_dificultadcobro" />
  <xs:complexType name="itssa_dificultaddegestion">
    <xs:sequence>
      <xs:element minOccurs="0" name="itssa_dificultaddegestionid" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="itssa_iddificultaddegestion" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="itssa_name" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="itssa_dificultaddegestion" nillable="true" type="tns:itssa_dificultaddegestion" />
  <xs:complexType name="itssa_empresa">
    <xs:sequence>
      <xs:element minOccurs="0" name="itsa_itsriparametrizable" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="itssa_empresaid" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="itssa_idempresa" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="itssa_name" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="itssa_empresa" nillable="true" type="tns:itssa_empresa" />
  <xs:complexType name="itssa_estadodelarepublica">
    <xs:sequence>
      <xs:element minOccurs="0" name="itssa_estadodelarepublicaid" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="itssa_idestado" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="itssa_name" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="itssa_estadodelarepublica" nillable="true" type="tns:itssa_estadodelarepublica" />
  <xs:complexType name="itssa_motivonosuministrarcreditoycobranza">
    <xs:sequence>
      <xs:element minOccurs="0" name="itssa_idmotivonosuministrarcreditoycobranza" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="itssa_motivonosuministrarcreditoycobranzaid" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="itssa_name" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="itssa_motivonosuministrarcreditoycobranza" nillable="true" type="tns:itssa_motivonosuministrarcreditoycobranza" />
  <xs:complexType name="itssa_motivonosuministrarserviciostecnicos">
    <xs:sequence>
      <xs:element minOccurs="0" name="itssa_idmotivonosuministrarserviciostecnicos" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="itssa_motivonosuministrarserviciostecnicosid" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="itssa_name" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="itssa_motivonosuministrarserviciostecnicos" nillable="true" type="tns:itssa_motivonosuministrarserviciostecnicos" />
  <xs:complexType name="itssa_municipio">
    <xs:sequence>
      <xs:element minOccurs="0" name="itssa_idmunicipio" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="itssa_municipioid" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="itssa_name" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="itssa_municipio" nillable="true" type="tns:itssa_municipio" />
  <xs:complexType name="itssa_pais">
    <xs:sequence>
      <xs:element minOccurs="0" name="itssa_iddelpais" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="itssa_name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="itssa_paisid" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="itssa_pais" nillable="true" type="tns:itssa_pais" />
  <xs:complexType name="itssa_ramocliente">
    <xs:sequence>
      <xs:element minOccurs="0" name="itssa_giro" nillable="true" type="tns:itssa_girocliente" />
      <xs:element minOccurs="0" name="itssa_idramo" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="itssa_name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="itssa_ramoclienteid" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="itssa_ramocliente" nillable="true" type="tns:itssa_ramocliente" />
  <xs:complexType name="itssa_girocliente">
    <xs:sequence>
      <xs:element minOccurs="0" name="itssa_giroclienteid" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="itssa_idgirocliente" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="itssa_name" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="itssa_girocliente" nillable="true" type="tns:itssa_girocliente" />
  <xs:complexType name="itssa_ruta">
    <xs:sequence>
      <xs:element minOccurs="0" name="itssa_claseruta" nillable="true" type="tns:itssa_claseruta" />
      <xs:element minOccurs="0" name="itssa_ejecutivo" nillable="true" type="tns:itssa_colaboradorgm" />
      <xs:element minOccurs="0" name="itssa_idruta" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="itssa_name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="itssa_rutaid" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="itssa_seriefactura" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="itssa_zona" nillable="true" type="tns:itssa_zona" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="itssa_ruta" nillable="true" type="tns:itssa_ruta" />
  <xs:complexType name="itssa_claseruta">
    <xs:sequence>
      <xs:element minOccurs="0" name="itssa_claserutaid" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="itssa_idclaseruta" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="itssa_name" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="itssa_claseruta" nillable="true" type="tns:itssa_claseruta" />
  <xs:complexType name="itssa_zona">
    <xs:sequence>
      <xs:element minOccurs="0" name="itssa_idestacionsgc" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="itssa_idzona" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="itssa_name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="itssa_zonaid" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="itssa_zona" nillable="true" type="tns:itssa_zona" />
  <xs:complexType name="itssa_sucursal">
    <xs:sequence>
      <xs:element minOccurs="0" name="itssa_idsucursal" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="itssa_name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="itssa_siglas" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="itssa_sucursalid" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="itssa_tiposucursal" nillable="true" type="tns:itssa_tiposucursal" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="itssa_sucursal" nillable="true" type="tns:itssa_sucursal" />
  <xs:complexType name="itssa_tiposucursal">
    <xs:sequence>
      <xs:element minOccurs="0" name="itssa_descripcion" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="itssa_idtiposucursal" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="itssa_name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="itssa_tiposucursalid" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="itssa_tiposucursal" nillable="true" type="tns:itssa_tiposucursal" />
  <xs:complexType name="itssa_tipocobro">
    <xs:sequence>
      <xs:element minOccurs="0" name="itssa_idtipocobro" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="itssa_name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="itssa_tipocobroid" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="itssa_tipocobro" nillable="true" type="tns:itssa_tipocobro" />
  <xs:complexType name="itssa_tipofactura">
    <xs:sequence>
      <xs:element minOccurs="0" name="itssa_idtipofactura" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="itssa_name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="itssa_tipofacturaid" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="itssa_tipofactura" nillable="true" type="tns:itssa_tipofactura" />
  <xs:complexType name="itssa_tipodeservicio">
    <xs:sequence>
      <xs:element minOccurs="0" name="itssa_idtipodeservicio" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="itssa_name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="itssa_tipodeservicioid" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="itssa_tipodeservicio" nillable="true" type="tns:itssa_tipodeservicio" />
  <xs:complexType name="itssa_zonaeconomica">
    <xs:sequence>
      <xs:element minOccurs="0" name="itssa_idzonaeconomica" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="itssa_name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="itssa_zonaeconomicaid" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="itssa_zonaeconomica" nillable="true" type="tns:itssa_zonaeconomica" />
  <xs:complexType name="itssa_estatuscalidad">
    <xs:sequence>
      <xs:element minOccurs="0" name="itssa_estatuscalidadid" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="itssa_idestatuscalidad" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="itssa_name" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="itssa_estatuscalidad" nillable="true" type="tns:itssa_estatuscalidad" />
  <xs:complexType name="ArrayOfitssa_descuentopordirecciondeentrega">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="itssa_descuentopordirecciondeentrega" nillable="true" type="tns:itssa_descuentopordirecciondeentrega" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfitssa_descuentopordirecciondeentrega" nillable="true" type="tns:ArrayOfitssa_descuentopordirecciondeentrega" />
  <xs:complexType name="itssa_descuentopordirecciondeentrega">
    <xs:sequence>
      <xs:element minOccurs="0" name="itssa_descuento" nillable="true" type="tns:itssa_descuento" />
      <xs:element minOccurs="0" name="itssa_descuentopordireccindeentregaid" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="itssa_fvigenciafinal" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="itssa_fvigenciainicial" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="itssa_iddescuentopordireccindeentrega" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="itssa_name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="itssa_producto" nillable="true" type="tns:itssa_producto" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="itssa_descuentopordirecciondeentrega" nillable="true" type="tns:itssa_descuentopordirecciondeentrega" />
  <xs:complexType name="itssa_descuento">
    <xs:sequence>
      <xs:element minOccurs="0" name="itssa_descuentoid" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="itssa_descuentovalor" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="itssa_iddescuento" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="itssa_name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="itssa_posicionri" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="statecode" nillable="true" type="xs:boolean" />
      <xs:element minOccurs="0" name="statuscode" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="itssa_descuento" nillable="true" type="tns:itssa_descuento" />
  <xs:complexType name="itssa_producto">
    <xs:sequence>
      <xs:element minOccurs="0" name="itssa_familia" nillable="true" type="tns:itssa_familia" />
      <xs:element minOccurs="0" name="itssa_idproducto" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="itssa_name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="itssa_productoid" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="itssa_tipodeproducto" nillable="true" type="tns:itssa_tipoproducto" />
      <xs:element minOccurs="0" name="itssa_unidaddemedida" nillable="true" type="tns:itssa_unidaddemedida" />
      <xs:element minOccurs="0" name="itssa_valor" nillable="true" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="itssa_producto" nillable="true" type="tns:itssa_producto" />
  <xs:complexType name="itssa_familia">
    <xs:sequence>
      <xs:element minOccurs="0" name="itssa_familiaid" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="itssa_idfamilia" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="itssa_name" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="itssa_familia" nillable="true" type="tns:itssa_familia" />
  <xs:complexType name="itssa_tipoproducto">
    <xs:sequence>
      <xs:element minOccurs="0" name="itssa_descripcion" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="itssa_idtipoproducto" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="itssa_name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="itssa_tipoproductoid" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="itssa_tipoproducto" nillable="true" type="tns:itssa_tipoproducto" />
  <xs:complexType name="itssa_unidaddemedida">
    <xs:sequence>
      <xs:element minOccurs="0" name="itssa_idunidaddemedida" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="itssa_name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="itssa_unidaddemedidaid" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="itssa_unidaddemedida" nillable="true" type="tns:itssa_unidaddemedida" />
  <xs:complexType name="ArrayOfitssa_inventariopordirecciondeentrega">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="itssa_inventariopordirecciondeentrega" nillable="true" type="tns:itssa_inventariopordirecciondeentrega" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfitssa_inventariopordirecciondeentrega" nillable="true" type="tns:ArrayOfitssa_inventariopordirecciondeentrega" />
  <xs:complexType name="itssa_inventariopordirecciondeentrega">
    <xs:sequence>
      <xs:element minOccurs="0" name="itssa_capacidad" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="itssa_capacidadtanque" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="itssa_codigobarras" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="itssa_cubicado" nillable="true" type="xs:boolean" />
      <xs:element minOccurs="0" name="itssa_fechafab" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="itssa_fechainsta" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="itssa_fechavalvulas" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="itssa_fechavigencia" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="itssa_ffincomodato" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="itssa_finiciocomodato" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="itssa_idinventariopordirecciondeentrega" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="itssa_instalador" nillable="true" type="tns:itssa_colaboradorgm" />
      <xs:element minOccurs="0" name="itssa_inventario" nillable="true" type="tns:itssa_inventariopordirecciondeentrega" />
      <xs:element minOccurs="0" name="itssa_inventariopordirecciondeentregaid" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="itssa_lecturainicial" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="itssa_litrosiniciales" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="itssa_marca" nillable="true" type="tns:itssa_marca" />
      <xs:element minOccurs="0" name="itssa_modelo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="itssa_name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="itssa_novalvulas" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="itssa_observaciones" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="itssa_porcentajetanque" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="itssa_producto" nillable="true" type="tns:itssa_producto" />
      <xs:element minOccurs="0" name="itssa_propiedadcliente" nillable="true" type="xs:boolean" />
      <xs:element minOccurs="0" name="itssa_serie" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="itssa_seriemedidor" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="itssa_tagmedidor" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="itssa_ubicacion" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="itssa_ultrasonido" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="itssa_vigente" nillable="true" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="itssa_inventariopordirecciondeentrega" nillable="true" type="tns:itssa_inventariopordirecciondeentrega" />
  <xs:complexType name="itssa_marca">
    <xs:sequence>
      <xs:element minOccurs="0" name="itssa_idmarca" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="itssa_marcaid" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="itssa_name" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="itssa_marca" nillable="true" type="tns:itssa_marca" />
  <xs:complexType name="ArrayOfitssa_programaciondepedidos">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="itssa_programaciondepedidos" nillable="true" type="tns:itssa_programaciondepedidos" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfitssa_programaciondepedidos" nillable="true" type="tns:ArrayOfitssa_programaciondepedidos" />
  <xs:complexType name="itssa_programaciondepedidos">
    <xs:sequence>
      <xs:element minOccurs="0" name="Itssa_concatenacionprogramacion" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="itssa_especial" nillable="true" type="xs:boolean" />
      <xs:element minOccurs="0" name="itssa_idprogramaciondepedidos" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="itssa_inicioprogramacion" nillable="true" type="xs:boolean" />
      <xs:element minOccurs="0" name="itssa_itsultimopedidogenerado" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="itssa_name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="itssa_programaciondepedidosid" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="itssa_tipodeprogramacion" nillable="true" type="tns:itssa_tipodeprogramaciondepedido" />
      <xs:element minOccurs="0" name="itssa_tipodeservicio" nillable="true" type="tns:itssa_tipodeservicio" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="itssa_programaciondepedidos" nillable="true" type="tns:itssa_programaciondepedidos" />
  <xs:complexType name="itssa_tipodeprogramaciondepedido">
    <xs:sequence>
      <xs:element minOccurs="0" name="itssa_idtipodeprogramaciondepedido" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="itssa_name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="itssa_tipodeprogramaciondepedidoid" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="itssa_tipodeprogramaciondepedido" nillable="true" type="tns:itssa_tipodeprogramaciondepedido" />
  <xs:complexType name="itssa_precioporempresa">
    <xs:sequence>
      <xs:element minOccurs="0" name="itssa_fechadevigenciafinal" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="itssa_fechavigenciainicial" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="itssa_idprecioempresa" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="itssa_impuesto" nillable="true" type="tns:itssa_impuesto" />
      <xs:element minOccurs="0" name="itssa_name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="itssa_precioempresaid" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="itssa_precioporempresavalor" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="itssa_producto" nillable="true" type="tns:itssa_producto" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="itssa_precioporempresa" nillable="true" type="tns:itssa_precioporempresa" />
  <xs:complexType name="itssa_impuesto">
    <xs:sequence>
      <xs:element minOccurs="0" name="itssa_idimpuesto" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="itssa_impuestoid" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="itssa_name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="itssa_valordelimpuesto" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="statecode" nillable="true" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="itssa_impuesto" nillable="true" type="tns:itssa_impuesto" />
</xs:schema>