ConfirmacionProgramados/GasMetropolitano.Runtime/GasMetropolitano.Runtime/Service References/DynamicsCRMLiquidacion/Service.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/ServicioLiquidacionPedidos" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/ServicioLiquidacionPedidos" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="PedidoCambioEstatus">
    <xs:sequence>
      <xs:element minOccurs="0" name="Itssa_idestatuspedido" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="Itssa_idpedido" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="itssa_autotanquemovil" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="itssa_factualizacionestatusmovil" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="itssa_foliofactura" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="itssa_idrutaboletin" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="itssa_idsgc" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="itssa_idstatusmovil" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="itssa_seriefactura" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="PedidoCambioEstatus" nillable="true" type="tns:PedidoCambioEstatus" />
  <xs:complexType name="Resultado">
    <xs:sequence>
      <xs:element minOccurs="0" name="Excepcion" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Observaciones" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="OperacionExitosa" nillable="true" type="xs:boolean" />
      <xs:element minOccurs="0" name="PedidoCambioEstatus" nillable="true" type="tns:PedidoCambioEstatus" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Resultado" nillable="true" type="tns:Resultado" />
</xs:schema>