ConfirmacionProgramados/GasMetropolitano.Runtime/GasMetropolitano.Runtime/Service References/DynamicsCRMActualizacionSaldo/Service1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/WCF_ITSSA_Saldos.Model" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/WCF_ITSSA_Saldos.Model" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="resultado">
    <xs:sequence>
      <xs:element minOccurs="0" name="Excepcion" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ID_Pedido" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="Observaciones" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="OperacionExitosa" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="resultado" nillable="true" type="tns:resultado" />
</xs:schema>