ConfirmacionProgramados/GasMetropolitano.Runtime/GasMetropolitano.Runtime/Service References/DynamicsCRMActualizacionSaldo/Service.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://192.168.1.42:81/Service.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/WCF_ITSSA_Saldos.Model" />
  <xs:element name="UpdateSaldos">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ID" type="xs:int" />
        <xs:element minOccurs="0" name="Saldo" type="xs:decimal" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateSaldosResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/WCF_ITSSA_Saldos.Model" minOccurs="0" name="UpdateSaldosResult" nillable="true" type="q1:resultado" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>